<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>20-CookieProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CookieSer</display-name>
    <servlet-name>CookieSer</servlet-name>
    <servlet-class>CookieSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieSer</servlet-name>
    <url-pattern>/CookieSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCookie</display-name>
    <servlet-name>CheckCookie</servlet-name>
    <servlet-class>CheckCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCookie</servlet-name>
    <url-pattern>/checkcookie.do</url-pattern>
  </servlet-mapping>
</web-app>